@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  background-color: #374d3c;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px;
  width: 50%;
  perspective: 700px;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
}

.box {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 16px 14px 10px #3d3c3c;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transform-style: rotateY(0deg);
  transition: transform 0.9s ease;
}

.box:hover {
  transform: rotateY(360deg);
  cursor: pointer;
}

.box::before {
  content: '';
  background-image: conic-gradient(#587701 20deg,
  transparent 120deg);
  width: 150%;
  height: 150%;
  position: absolute;
  animation: rotate 8s linear infinite;
}

.box::after {
  content: '';
  width: 190px;
  height: 190px;
  background: #888787;
  position: absolute;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  filter: blur(3px);
  font-size: larger;
  letter-spacing: 5px;
  box-shadow: inset 30px 30px 10px #0000009c;
  z-index: 2;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h2 {
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 3;
  font-size: large;
  letter-spacing: 4px;
  color: #fff;
  margin-left: 20px;
}

h2:hover {
  transform: scale(1.1);
  transition: transform 0.9s ease;
}

@media (max-width: 460px) {
  .container {
    width: 100%; /* container will take full width */
    gap: 20px; /* adjust gap as needed */
  };
}

/* navigation */
:root {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: transparent;
  --bg-secondary: #2b392e;
}


body::-webkit-scrollbar {
  width: 0.45rem;
}

body::-webkit-scrollbar-track {
  background: #709577;
}

body::-webkit-scrollbar-thumb {
  background: #A8C61A;
}

.nav-item i {
  font-size: 1.5em;
}

.nav-link i {
  font-size: 1.2em;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 5rem;
  height: 100vh; 
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  z-index: 100;
  
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

/* svg */
.nav-link i {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo i {
  transform: rotate(0deg);
  transition: transform var(--transition-speed);
  color: #111901;
}
/*
.nav-link i {
  color: #cfc2ce;
} */

.nav-link:hover i {
  color: #A8C61A;
}

.navbar:hover .logo i {
  transform: rotate(-180deg);
}

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .logo-text {
    left: 0px;
  }
  footer .copyright {
    text-align: center;
  }
}
/* small */
@media only screen and (max-width: 600px) {
  .navbar {
    top: 0;
    width: 4rem;
    height: 100%;
  }
  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover .logo-text {
    left: 0px;
  }

  body {
    padding-left: 4rem;
  }

  footer {
    width: 100vw;
  }
  footer .copyright {
    text-align: center;
  }
}

.container h2 span {
  color: #111901;
  font-size: 1em;
  display: inline-block;
  animation: move 5s infinite;
  perspective: 1500px;
}

@keyframes move {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }

}