@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #111222;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 4em; /* sec-01 padding */
  color: #fff;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: 4em;
  margin-bottom: 1em;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image {
  position: relative;
  width: 25em;
  height: 25em;
  overflow: hidden;
  border-radius: 50%;
}

.content .image img {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  image-rendering: auto;
}

.content .text-box {
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 2.5;
  max-width: 25em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
}

.content .text-box h3 {
  font-size: 2em;
  margin-bottom: 0.625em; /* text field */
}

.media-icons {
  font-size: 2em;
}

.media-icons .icon {
  font-size: 2em; /* Adjust the size as needed */
  margin: 0 1em; /* Adjust spacing between icons */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.media-icons .icon i {
  font-size: inherit; /* Inherit the size from the parent .icon */
}

.media-icons a {
  color: #fff;
  margin: 1.75em; /* icons */
}

.section-title {
  font-size: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
}

.info-title {
  font-size: 1.8em;
  margin-bottom: 0.625em;
}

.info {
  width: 9.75em;
  margin-left: 3.125em;
}

.media-info {
  width: 25em;
  margin-left: 3.125em;
}

.media-info li {
  list-style: none;
  font-size: 1.4em;
}

.media-info li a {
  color: #fff;
  text-decoration: none;
}

.media-info {
  position: relative;
  width: 25%; 
  height: 25%; 
  margin: 0 auto; 
}

.container {
  margin-bottom: 2em;
}

.sec-03 {
  margin-bottom: 50px;
}

.media-info li {
  list-style: none; 
  position: absolute;
  width: 500%;
  border-radius: 20%; 
  background: #8D8D8D; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  animation: borderMove 2s infinite;
  border: 1px solid;
}

.media-info li:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg) translate(150px) rotate(0deg);
}

.media-info li:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) translate(150px) rotate(-45deg);
}

.media-info li:nth-child(3) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg) translate(150px) rotate(-90deg);
}

.media-info li:nth-child(4) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg) translate(150px) rotate(-135deg);
}

.media-info li:nth-child(5) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg) translate(150px) rotate(-180deg);
}

.media-info li:nth-child(6) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(225deg) translate(150px) rotate(-225deg);
}

.media-info li:nth-child(7) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(270deg) translate(150px) rotate(-270deg);
}

.media-info li:nth-child(8) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(315deg) translate(150px) rotate(-315deg);
}

/* circles */

.container-2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  /* margin: auto; */
  width: 50%;
  height: 31.25em;
  padding: 1em 1em;
  margin: 2em 2em;
  overflow: hidden;
}

.circle,
.circle-1,
.circle-2,
.circle-3,
.circle-4 {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 1;
  width: 5%;
  height: 7%;
  background: #8D8D8D;
  box-shadow: 0px 0px 4px 1px #fff;
  transition: all 1.5s ease-in-out;
}

.circle {
  top: 30px;
}

.circle-1 {
  top: 130px;
}

.circle-2 {
  top: 235px;
}

.circle-3 {
  top: 340px;
}

.circle-4 {
  top: 440px;
}

hr {
  width: 70%;
  transform: rotate(90deg);
}

.box {
  position: absolute;
  width: 15%;
  height: 10%;
  background: #8D8D8D;
  border: 1px solid #fff;
  border-radius: 10px;
  z-index: 2;
  transition: all 1.5s ease-in-out;
}

.box-1 {
  top: 10px;
  left: 100px;
}

.box-2 {
  top: 110px;
  left: 100px;
}

.box-3 {
  top: 215px;
  left: 100px;
}

.box-4 {
  top: 320px;
  left: 100px;
}

.box-5 {
  top: 420px;
  left: 100px;
}

.box-6 {
  top: 10px;
  right: 100px;
}

.box-7 {
  top: 110px;
  right: 100px;
}

.box-8 {
  top: 215px;
  right: 100px;
}

.box-9 {
  top: 320px;
  right: 100px;
}

.box-10 {
  top: 420px;
  right: 100px;
}

.box-1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.box-1 a {
  text-decoration: none;
}

.text-title {
  color: #fff;
  text-align: center;
}

.text-container {
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1em;
}

.text-container h3 {
  font-size: 4em;
}

/* Project boxes */

.container-7 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  width: 50%;
  perspective: 700px;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
}

.boxx {
  width: 200px;
  height: 200px;
  background-color: #ffffff;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 16px 14px 10px #3d3c3c;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  transform-style: rotateY(0deg);
  transition: transform 0.9s ease;
}

.boxx:hover {
  transform: rotateY(360deg);
  cursor: pointer;
}

.boxx::before {
  content: '';
  background-image: conic-gradient(#4ff346 20deg,
  transparent 120deg);
  width: 150%;
  height: 150%;
  position: absolute;
  animation: rotate 8s linear infinite;
}

.boxx::after {
  content: '';
  width: 190px;
  height: 190px;
  background: #888787;
  position: absolute;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  filter: blur(3px);
  font-size: larger;
  letter-spacing: 5px;
  box-shadow: inset 30px 30px 10px #0000009c;
  z-index: 2;
  
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h4 {
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: 3;
  font-size: large;
  letter-spacing: 4px;
  color: #00ff33;
  margin-left: 20px;
}

h4:hover {
  transform: scale(1.1);
  transition: transform 0.9s ease;
}